
/*   font family    */


@font-face {
    font-family: Abel;
    src: url('/fonts/Abel/Abel-Regular.ttf');

}




@font-face {
    font-family: Bentham;
    src: url('/fonts/Bentham/Bentham-Regular.ttf');

}

@font-face {
    font-family: Fenix;
    src: url('/fonts/Fenix/Fenix-Regular.ttf');

}

@font-face {
    font-family: Gothic_A1;
    src: url('/fonts/Gothic_A1/GothicA1-Bold.ttfs');

}






